.Content {
    display: flex;
    flex-grow: 1;
    max-height: 60vh;
    min-height: 60vh;
    background-color:white;
    border-radius: 0px 5px 5px 0px;
    margin: 5vh 0 0 0;
    padding: 10px 20px 20px 20px;
    box-shadow: inset 20px 0 20px -20px rgba($color: #000000, $alpha: 0.1);
    transition: 0.5s;
    @media (max-height: 800px ) {
        max-height: 80vh;
        min-height: 80vh;
    }
    &__wrapper {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.7;
        border-bottom: 1px solid #ccc;
    }
}