$main-color: #78CC6D;
$gray:#333333;

$mw1: "(max-width: 1024px)";
$mw14: "(max-width: 1440px)";
$mw4: "(max-width: 520px)";
$mw7: "(max-width: 768px)";
$minw7: "(min-width: 769px)";
$mh8: "(max-height: 800px)";
$mh5: "(max-height: 500px)";

$mix: "(max-height: 800px)"
// $mix: "(max-height: 800px) and (max-width: 1024px)"