@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,900,900i&display=swap&subset=latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}